.HomePage {
  padding: 6em 3em;
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.HomePage button {
  background-color: aqua;
}

/* .Grid {
  display: grid;
  grid-template-rows: auto;
}

.item img{
  width: 300px;
} */