* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: white;
  color: black;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

h1 {
  font-size: 3em;
  font-family: "Inter";
  font-weight: 400;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: white;
  }
} */
